* {
margin: 0;
padding: 0;
scroll-behavior: smooth;
}

:root {
    --color-1: #005969;
    --color-2: #080054;
    --color-3: #e3e7e8;
    --color-4: steelblue;
    --color-5: teal;
    --color-6: gray;
    --color-7: turquoise;
}

body {
    background-image: linear-gradient(black, var(--color-4), var(--color-2));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(black, var(--color-6));
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid var(--color-7) 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-2);
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 50px;
    text-decoration: underline;
    color: var(--color-3);
    font-weight: bold;
    text-underline-offset: 10px;
}

header nav ul li a{
    font-size: 30px;
    color: var(--color-3);
}

.quote {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    font-style: italic;
    margin: 10px 50px 10px 0;
    font-size: 25px;
    color: var(--color-3)
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 25px;
    display: block;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--color-3);
}
/* end header styles */

h2{
    color: var(--color-3);
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 28px;
}

p{
    color: var(--color-3);
    line-height: 2;
    font-size: 20px;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-title {
    width: 20%;
    padding-left:5%;
    margin-right: 5%;
    border-right: solid var(--color-3) 2px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:60%;
    padding: 50px;
}

#about-me img {
    margin-right: 30px;
    border: solid var(--color-3) 5px;
    border-radius: 7px;
}
/* work styles */

.big-tile {
    display:flex;
    flex-wrap: wrap;
    height: 450px;
    background-image: url("../images/movies.png");
    background-size: 120%;
    justify-content: left;
    align-items: flex-end;
    padding: 0 0 10px 30px;
    font-size:35px;
    border: solid var(--color-2) 3px;
    border-radius: 10px;
}
.big-tile-1 {
    display:flex;
    flex-wrap: wrap;
    height: 450px;
    background-image: url("../images/ChessImg.jpeg");
    background-size: 120%;
    justify-content: left;
    align-items: flex-end;
    padding: 0 0 10px 30px;
    font-size:35px;
    border: solid var(--color-2) 3px;
    border-radius: 10px;
}

.featured {
    width: 75%;
    margin-bottom: 30px;
}

h3, h4, a{
    color: var(--color-2);
    text-decoration: none;
}

.big-tile h3 {
    background-color: var(--color-7);
    padding: 7px;
    border: solid var(--color-2) 3px;
    border-radius: 7px;
}
.big-tile-1 h3 {
    background-color: var(--color-7);
    padding: 7px;
    border: solid var(--color-2) 3px;
    border-radius: 7px;
}

.work-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}

.work-tiles h3 {
    background-color: var(--color-7);
    padding: 5px;
    border: solid var(--color-2) 3px;
    border-radius: 7px;
}

.tile {
    display:flex;
    flex-wrap: wrap;
    background-color:var(--color-3);
    width: 350px;
    height: 90px;
    padding: 0 0 10px 30px;
    justify-content: left;
    align-items:flex-end;
    font-size: 20px;
    border: solid var(--color-2) 3px;
    border-radius: 7px;
    margin-bottom: 30px;
}

#tile-1{
    background-image: url("../images/Dinner.png");
    background-size: 100%;
}

#tile-2{
    background-image: url("../images/Portfolio.png");
    background-size: 100%;
}

#tile-3{
    background-image: url("../images/Weather.png");
    background-size: 100%;
}

#tile-4{
    background-image: url("../images/Git.png");
    background-size: 100%;
}

.contact-links a{
    color: var(--color-3);
    padding-left: 40px;
    text-decoration: none;
}
/* end work styles */

/* contact styles */
.contact-links li{
    list-style: none;
    color: var(--color-3);
}

.contact{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}

.contact-button {
    display: flex;
    width: 20%;
    height:50px;
    margin: 27px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: solid var(--color-2) 2px;
    border-radius: 7px;
    background-color:var(--color-7);
}

.contact-button a{
    text-decoration: none;
    color: var(--color-2);
    font-size: 20px;
}

/* end of styles, start of media queries */

/* screen sizes less than 980px */
@media screen and (max-width: 980px) {

    header{
        justify-content: center;
    }

    .section-title {
        border: none;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    .content{
        width: 100%;
        justify-content: center;
    }

    #about-me img{
        margin: 0 0 40px 0;
    }

    .work-tiles{
        justify-content: center;
    }
}

/* screen sizes less than 768px */
@media screen and (max-width: 768px) {

    header nav{
        width: 60%;
        justify-content: center;
    }

    header nav ul li {
        padding: 20px;
        justify-content: center;
        text-decoration: none;
    }

    .quote{
        justify-content: center;
    }

    .big-tile {
        height: 275px;
    }
}

/* screen sizes less than 575px */
@media screen and (max-width: 575px) {

    .big-tile{
        align-items: flex-end;
        justify-content: center;
        height: 200px;
        padding: 0 0 10px 0;
    }

    .tile {
        width: 300px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
/* end media queries */